.event-card {
    margin: auto;
}

.event-card img {
    padding: 10px;

}

.event-buttons button {
    width: 130px;
    height: 40px;

}

.registrarte button {
    width: 100px;
}

@media (max-width: 640px) {
    .event-buttons button {
        width: 100px;
        height: 30px;
    }
}

.title-icon h1 {
    font-size: 36px;
}

.title-icon h3 {
    font-size: 18px;
}

.title-icon p {
    font-size: 12px;
}

.title-icon i {
    font-size: 24px;
    justify-self: end;
}



.leaflet-container {
    height: 300px;
    width: 100%;
}

.comments-container,
.registrations-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.comment-card,
.registration-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}